<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员卡管理</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bossVipManage.css"/>

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/request.js"></script>
    <script src="/js/bossVipManage.js"></script>
</head>
<body>
<div class="main-container">
    <div class="nav-left-container">
        <div class="nav-user-container" style="margin-bottom: 50px;">
            <img class="avatar-lg" src="/images/defaultAvatar.jpg" />
            <p class="title">Boss</p>
        </div>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation"  class="active"><a href="#"> 会员卡管理</a></li>
            <li role="presentation"><a href="/boss/cancel/manage"> 退票管理</a></li>
            <li role="presentation"><a href="/boss/hall/manage"> 影厅管理</a></li>
            <li role="presentation"><a href="/boss/role/manage"> 影院角色管理</a></li>
        </ul>
    </div>
    <div class="content-container">
        <div class="content-header">
            <span class="title gray-text">会员活动</span>
            <button type="button" style="float: right" class="btn btn-primary" data-backdrop="static" data-toggle="modal" data-target="#vipCardModal"><i class="icon-plus-sign"></i> 添加活动</button>
        </div>
        <ul class="vipCard-on-list">
        </ul>
    </div>
</div>
<div class="modal fade" id="vipCardModal" tabindex="-1" role="dialog" aria-labelledby="vipCardModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="vipCardModalLabel">新增会员卡活动</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="card-id-input"><span class="error-text">*</span>活动ID</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="card-id-input" placeholder="请输入活动ID">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="card-name-input"><span class="error-text">*</span>活动名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="card-name-input" placeholder="请输入活动名称">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="card-description-input"><span class="error-text">*</span>活动描述</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="card-description-input" placeholder="请输入活动描述">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="num-request-input"><span class="error-text">*</span>满</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="num-request-input" placeholder="请输入需要满足的金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="num-minus-input"><span class="error-text">*</span>减</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="num-minus-input" placeholder="请输入减免的金额">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="num-discountrate-input"><span class="error-text">*</span>打折率</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="num-discountrate-input" placeholder="请输入购票打折率">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="num-state-yes"><span class="error-text">*</span>可否购买</label>
                        <div class="col-sm-10">
                            <input type="radio" class="form-control" id="num-state-yes">可购买
                            <input type="radio" class="form-control" id="num-state-no">不可购买
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="card-form-btn">确认</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>